:host{
  .header{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    img{
      width: 100%;
      max-width: 200px;
    }
  }
  .about-description{
    padding: 10px 20px;
    font-size: 16px;
  }
  .powered-container{
    padding: 20px 0;
    text-align: center;
    p{

      text-transform: uppercase;
      color: #5E35B1;
      font-size: 10px;
      letter-spacing: 4px;
      margin: 0;
    }
    img{
      width: 100%;
      max-width: 200px;
    }
  }
}
