<div class="container page-content">
  <section class="mt-3">
    <div class="header">
      <img src="assets/images/horizontal-rp-logo.png"/>
    </div>

    <p class="about-description">
    RapidPass is a verification system that eases the flow of frontliners and priority vehicles through Metro Manila’s checkpoints.
    </p>

    <p class="about-description">
    RapidPass.ph produces digital passes with QR codes that will be scanned at checkpoints for easier verification.
    </p>

    <p class="about-description">
      RapidPass is powered by DCTX, a team of quarantined, yet passionate designers-volunteers, under DevCon.ph COVID-19
      Technology Initiative.
    </p>

    <p class="about-description">
      We exist to empathize, define, ideate, and design solutions to help solve pressing COVID-19 pandemic problems.
    </p>

  </section>
  <section class="powered-container">
    <p>
      Powered By
    </p>
    <div class="mx-5">
      <img src="assets/images/dctx-devcon-logo.png"/>
    </div>
  </section>
</div>
