:host{
  mat-expansion-panel {
    background: #ffffff;
    box-shadow:  0 0;
    border-bottom: #ced4da 1px solid;
    margin: 0;
    mat-expansion-panel-header{
      color: #5E35B1;
      font-weight: bolder;
      font-size: 16px;
      padding: 30px 5px;
    }
  }
  mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover{
    background: #ffffff;
  }

  ::ng-deep .mat-expansion-indicator::after{
    color: rgba(0,0,0,.7);
  }
  ::ng-deep .mat-expansion-panel-body{
    color: #000000 !important;
    padding: 0 5px 16px;
    font-size: 16px;
   }
}
