<div class="container page-content">
  <mat-accordion>

    <div class="mat-headline mt-4 mb-2">Registration</div>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        I'm having trouble registering an account.
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <p>
          There are a few common issues that lead to account creation errors.
          When creating an account, please be sure of the following:
        </p>
        <ol>
          <li>Your username is between 4 and 10 characters.</li>
          <li>Your device has not previously been linked to an account (If so, login with that account).</li>
        </ol>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Who can register for an account?
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        Any individual or organization that resides in the Philippines, wishes to request for a RapidPass can register.
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Can I register multiple times?
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        You should only register once. We are auditing all requests and checking if there are duplicates.
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Can I use the RapidPass immediately after registration?
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        You will need to wait for the approved QR code.
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        How long does it take to get an approval?
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        We are aware of the urgency of getting the approvals and are working towards.
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Can I still pass through checkpoints without the RapidPass?
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        The aim of RapidPass is to pass through checkpoints faster.
        It is not required that all users have a RapidPass to get through a checkpoint.
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        How do I know that my registration is approved?
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        You will receive an email/SMS with the approved QR Code.
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Do I just print the QR code and present this?
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        You can either present the printed QR Code or the Code on your mobile app.
      </ng-template>
    </mat-expansion-panel>

    <div class="mat-headline mt-4 mb-2">Scanning</div>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Do I just present the printed QR Code?
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        The checkpoint personnel will be scanning your QR code (if they are visible on your vehicle)
        or asking for your credentials.
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        The QR code does not work.
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        There may be several reasons why you were not allowed through the checkpoint.
        Please check the validity of the approved QR code.
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Why is my account restricted?
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        Some specific actions that might have led to restricted functionality, please check with the checkpoint officer.
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        How long is my QR code valid?
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <p>There is varying validity of the QR code, depending on the approval given.</p>
        <p>Please check your approval email for the validity of the QR pass.</p>
        <p>You can also check with the checkpoint officer.</p>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Can other people use my RapidPass?
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        No
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Do I need another ID if I have a RapidPass?
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        The checkpoint officer may request for another ID for validation.
      </ng-template>
    </mat-expansion-panel>

    <div class="mat-headline mt-4 mb-2">Additional Pass</div>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Can I request for additional pass for my companion?
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <p>Each person needs to be registered.</p>
        <p>An exception is for vehicle passes, wherein the registered driver and companion may be given entry pass.</p>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        I lost my QR code, can I request for a replacement?
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        You can request for another QR pass using the application. The same approval policies apply.
      </ng-template>
    </mat-expansion-panel>

  </mat-accordion>
</div>
