<div class="container page-content">
  <section class="mt-3">
    <div class="px-3">
      <div class="header">
        <img src="assets/images/horizontal-rp-logo.png"/>
      </div>
      <p class="contact-text">
        If you have any questions, remarks or suggestions, feel free to contact us using the channels below. We will get
        back to you as soon as possible.
      </p>
      <div class="d-flex align-items-center my-4">
        <img src="assets/images/email.png" alt="email" class="social-media-icon">
        <a href="mailto:inquiries@rapidpass.ph"> inquiries@rapidpass.ph </a>
      </div>
      <div class="d-flex align-items-center my-4">
        <img src="assets/images/facebook.png" alt="facebook" class="social-media-icon">
        <a href="https://www.facebook.com/rapidpassph"> facebook.com/rapidpassph </a>
      </div>
      <div class="d-flex align-items-center my-4">
        <img src="assets/images/twitter.png" alt="twitter" class="social-media-icon">
        <a href="https://www.twitter.com/rapidpassph"> twitter.com/rapidpassph </a>
      </div>
      <div class="d-flex align-items-center my-4">
        <img src="assets/images/instagram.png" alt="twitter" class="social-media-icon">
        <a href="https://www.instagram.com/rapidpassph/"> instagram.com/rapidpassph </a>
      </div>
    </div>
  </section>
</div>
