:host{
  .header{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    img{
      width: 100%;
      max-width: 200px;
    }
  }
  .contact-text{
    font-size: 16px;
    line-height: 20px;
  }
  a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;

  }
  .social-media-icon{
    margin-right: 15px;
  }
}
