<mat-toolbar color="primary" class="page-toolbar">
  <mat-toolbar-row>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="ml-2">Your RapidPass</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="d-flex flex-column mx-auto content-container page-content h-100">

  <div class="my-3"></div>

  <div class="d-flex flex-row align-items-center justify-content-center mb-3">
    <img src="assets/images/status-suspended.svg" alt="status-logo" height="70px" class="mr-3">
    <div class="status-text font-weight-bold">
      <div class="mb-1">Application</div>
      <div style="color: #666666">Revoked</div>
    </div>
  </div>

  <div class="my-3"></div>

  <ng-container *ngIf="data.reason else hasNoRejectionReason">
    <p>Your RapidPass has been revoked because of the following:</p>
    <p>{{ data.reason }}</p>
  </ng-container>

  <ng-template #hasNoRejectionReason>
    <p>Your RapidPass has been revoked. Please contact your approving agency for more details.</p>
  </ng-template>

  <div class="mt-auto">
    <button mat-stroked-button class="w-100" color="accent" (click)="goHome()">
      Return to homepage
    </button>
  </div>
</div>
