.register-page {
  width: 320px;
}

.page-content {
  padding-top: 64px;
}

.field-group-header {
  color: #5e35b1;
}

hr {
  border-top-width: 2px;
}

.form-label {
  font-family: Worksans, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #666666;
  margin-bottom: 0;

  &.has-error {
    color: #f44336;
  }
}

.map-icon {
  color: rgba(0, 0, 0, 0.54);
}

.dropdown-icon {
  color: rgba(0, 0, 0, 0.54);
}

.terms-and-condition{
  cursor: pointer;
  color: #5e35b1;
  font-weight: bold;
}

.full-screen-modal .mat-dialog-container {
  max-width: none;
}

::ng-deep .mat-form-field-infix {
  border-top: 0.4em solid transparent;
}
a.not-sure {
  float: right;
  text-decoration: underline;
}

::ng-deep .mat-form-field-appearance-outline.vehicle-id-type-form-field
  .mat-select-arrow-wrapper {
  transform: translateX(-60%);
}