<div class="register-page page-content m-4 px-3 pb-4 mx-auto">
  <form autocomplete="off" [formGroup]="regForm" (ngSubmit)="submit()">

    <h3 class="field-group-header font-weight-bold">Personal Information</h3>
    <!-- FIRST NAME -->
    <div>
      <label class="form-label" [ngClass]="{'has-error': getError('firstName')}">
        First Name*
      </label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput appTrim placeholder="Juan" formControlName="firstName">
        <mat-error *ngIf="getError('firstName')">
          {{ getError('firstName') }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- MIDDLE NAME -->
    <div>
      <label class="form-label" [ngClass]="{'has-error': getError('middleName')}">
        Middle Name
      </label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput appTrim placeholder="Mercedes" formControlName="middleName">
        <mat-error *ngIf="getError('middleName')">
          {{ getError('middleName') }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- LAST NAME -->
    <div>
      <label class="form-label" [ngClass]="{'has-error': getError('lastName')}">
        Last Name*
      </label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput appTrim placeholder="Dela Cruz" formControlName="lastName">
        <mat-error *ngIf="getError('lastName')">
          {{ getError('lastName') }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- SUFFIX -->
    <div>
      <label class="form-label" [ngClass]="{'has-error': getError('suffix')}">
        Suffix
      </label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput appTrim placeholder="Jr. (Optional)" formControlName="suffix">
        <mat-error *ngIf="getError('suffix')">
          {{ getError('suffix') }}
        </mat-error>
      </mat-form-field>
    </div>

    <hr class="mb-4">

    <h3 class="field-group-header font-weight-bold">Contact Information</h3>

    <!-- EMAIL -->
    <div>
      <label class="form-label" [ngClass]="{'has-error': getError('email')}">
        Email*
      </label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput appTrim type="email" placeholder="juan@email.com" formControlName="email" autocomplete="off">
        <mat-error *ngIf="getError('email')">
          {{ getError('email') }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- MOBILE NUMBER -->
    <div>
      <label class="form-label" [ngClass]="{'has-error': getError('mobileNumber')}">
        Mobile Number*
      </label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput appTrim placeholder="09XXXXXXXXX" formControlName="mobileNumber">
        <mat-error *ngIf="getError('mobileNumber')">
          {{ getError('mobileNumber') }}
        </mat-error>
      </mat-form-field>
    </div>

    <hr class="mb-4">

    <h3 class="field-group-header font-weight-bold">Company Information</h3>

    <!-- COMPANY NAME -->
    <div>
      <label class="form-label" [ngClass]="{'has-error': getError('company')}">
        Company/Institution Name*
      </label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput appTrim placeholder="DevCon PH" formControlName="company">
        <mat-error *ngIf="getError('company')">
          {{ getError('company') }}
        </mat-error>
      </mat-form-field>
    </div>

    <hr class="mb-4">

    <h3 class="field-group-header font-weight-bold">Home Address</h3>
    <mat-error class="mb-3" *ngIf="getError('originName') && getError('destName')">
      {{ getError('originName') }}
    </mat-error>

    <!-- ORIGIN STREET -->
    <div>
      <label class="form-label" [ngClass]="{'has-error': getError('originStreet')}">
        Street*
      </label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput appTrim placeholder="House/Block/Unit/Lot No, Street" formControlName="originStreet" autocomplete="off">
        <mat-error *ngIf="getError('originStreet')">
          {{ getError('originStreet') }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- ORIGIN CITY -->
    <div>
      <label class="form-label" [ngClass]="{'has-error': getError('originCity')}">
        City*
      </label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput appTrim placeholder="City" formControlName="originCity" autocomplete="off">
        <mat-error *ngIf="getError('originCity')">
          {{ getError('originCity') }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- ORIGIN PROVINCE -->
    <div>
      <label class="form-label" [ngClass]="{'has-error': getError('originProvince')}">
        Province*
      </label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput appTrim placeholder="Province" formControlName="originProvince" autocomplete="off">
        <mat-error *ngIf="getError('originProvince')">
          {{ getError('originProvince') }}
        </mat-error>
      </mat-form-field>
    </div>

    <hr class="mb-4">

    <h3 class="field-group-header font-weight-bold mb-0">Destination</h3>
    <p class="text-muted small mb-3">For multiple destinations, please input the most frequent address</p>
    <mat-error class="mb-3" *ngIf="getError('originName') && getError('destName')">
      {{ getError('destName') }}
    </mat-error>

    <!-- DESTINATION STREET -->
    <div>
      <label class="form-label" [ngClass]="{'has-error': getError('destStreet')}">
        Street*
      </label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput appTrim placeholder="House/Block/Unit/Lot No, Street" formControlName="destStreet" autocomplete="off">
        <mat-error *ngIf="getError('destStreet')">
          {{ getError('destStreet') }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- DESTINATION CITY -->
    <div>
      <label class="form-label" [ngClass]="{'has-error': getError('destCity')}">
        City*
      </label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput appTrim placeholder="City" formControlName="destCity" autocomplete="off">
        <mat-error *ngIf="getError('destCity')">
          {{ getError('destCity') }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- DESTINATION PROVINCE -->
    <div>
      <label class="form-label" [ngClass]="{'has-error': getError('destProvince')}">
        Province*
      </label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput appTrim placeholder="Province" formControlName="destProvince" autocomplete="off">
        <mat-error *ngIf="getError('destProvince')">
          {{ getError('destProvince') }}
        </mat-error>
      </mat-form-field>
    </div>

    <hr class="mb-4">

    <h3 class="field-group-header font-weight-bold">RapidPass Information</h3>

    <!-- NATURE OF WORK -->
    <div>
      <label class="form-label" [ngClass]="{'has-error': getError('aporType')}">
        Nature of Work*
      </label>
      <a href="https://www.dctx.ph/frontliners-apor-guide/" target="_blank" class="not-sure">
        Not Sure?
      </a>
      <mat-form-field appearance="outline" class="w-100" (click)="btnSelectAporType()">
        <input matInput readonly formControlName="aporType" [hidden]="true">
        <input matInput readonly placeholder="Select" [value]="selectedWorkTypeLabel">
        <button mat-icon-button matSuffix type="button">
          <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
        </button>
        <mat-error *ngIf="getError('aporType')">
          {{ getError('aporType') }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- VEHICLE ID TYPE -->
    <div>
      <label class="form-label" [ngClass]="{'has-error': getError('idType')}">
        Vehicle ID Type*
      </label>

      <mat-form-field appearance="outline" class="w-100 vehicle-id-type-form-field">
        <mat-select formControlName="idType" floatLabel="never" placeholder="Select">
          <mat-option value="PLT">
            Plate Number
          </mat-option>
          <mat-option value="CND">
            Conduction Sticker
          </mat-option>
        </mat-select>
        <mat-error *ngIf="getError('idType')">
          {{ getError('idType') }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- PLATE NUMBER -->
    <div class="pb-4">
      <label class="form-label" [ngClass]="{'has-error': getError('plateNumber')}">
        Plate Number/Conduction Sticker*
      </label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput placeholder="Enter plate number"
          formControlName="plateNumber"
          (keyup)="upperCase($event)"
          appTrim
          [noSpace]="true">
        <mat-error *ngIf="getError('plateNumber')">
          {{ getError('plateNumber') }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- REMARKS -->
    <div>
      <label class="form-label" [ngClass]="{'has-error': getError('remarks')}">
        Reason why you need the pass
      </label>
      <mat-form-field appearance="outline" class="w-100">
        <textarea appTrim rows="7" matInput placeholder="I'm an officer on-duty" formControlName="remarks"></textarea>
        <mat-error *ngIf="getError('remarks')">
          {{ getError('remarks') }}
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      By ticking the checkbox below, you confirm that you have read, understood, and agreed to the
      <span class="terms-and-condition" (click)="btnTermsAndCondition($event)">Privacy Notice</span>.
    </div>
    <br>
    <div>
      <mat-checkbox color="accent" [(ngModel)]="tcAccepted" [ngModelOptions]="{ standalone: true }">
        I consent to the processing of my personal data and agree to the Privacy Notice of RapidPass.ph.
      </mat-checkbox>
    </div>

    <div class="my-3">
      <button
        mat-flat-button
        class="w-100"
        color="accent"
        type="submit"
        [disabled]="!tcAccepted || processing">
        {{ processing ? 'Submitting...' : 'Submit for Verification' }}
      </button>
    </div>
  </form>
</div>
