<mat-toolbar color="primary" class="page-toolbar">
  <mat-toolbar-row>
    <button mat-icon-button [mat-dialog-close]="true">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="ml-2">Your RapidPass</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="d-flex flex-column mx-auto content-container page-content h-100">
  <div class="my-3"></div>

  <div class="d-flex flex-row align-items-center justify-content-center mb-3">
    <img src="../../../../../assets/images/status-expired.svg" alt="status-logo" height="70px" class="mr-3">
    <div class="status-text font-weight-bold">
      <div class="mb-1">Application</div>
      <div style="color: #F8A300">Expired</div>
    </div>
  </div>

  <div class="my-3"></div>

  <p>Your RapidPass has expired.</p>

  <div class="mt-auto">
    <button
      mat-flat-button
      class="w-100"
      color="accent"
      [mat-dialog-close]="null"
      [routerLink]="['onboarding', 'reminders']">
      Apply again
    </button>
    <p></p>
    <button mat-stroked-button class="w-100" color="accent" [mat-dialog-close]="null" [routerLink]="['']">
      Return to homepage
    </button>
  </div>
</div>
