<mat-toolbar color="primary" class="page-toolbar">
  <mat-toolbar-row>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="ml-2">Your RapidPass</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="d-flex flex-column mx-auto content-container page-content h-100">
  <div class="my-3"></div>

  <p class="text-center text-muted mb-4" *ngIf="showApplySuccess">
    You have successfully<br>submitted your application.
  </p>

  <div class="d-flex flex-row align-items-center justify-content-center mb-3">
    <img src="assets/images/status-pending.svg" alt="status-logo" height="70px" class="mr-3">
    <div class="status-text font-weight-bold">
      <div class="mb-1">Application</div>
      <div style="color: #26A6FE">Pending</div>
    </div>
  </div>

  <div class="my-3"></div>

  <p>
    Use your mobile number or plate number as an application number when checking application status.
  </p>
  <p>
    Lead time of approval depends on the approving government agencies. You may verify and follow up your application
    with your respective approver agencies based on your APOR category.
  </p>
  <p>
    Thank you for your patience.
  </p>

  <div class="mt-auto">
    <button mat-flat-button class="w-100" color="accent" (click)="goHome()">
      Return to homepage
    </button>
  </div>
</div>
