<div class="page-content space-container space-bg d-flex flex-column h-100 pb-4">
  <div class="d-flex flex-column align-items-center justify-content-start overflow-auto h-100 px-3 mb-4">
    <div class="mb-3">
      <img src="assets/images/horizontal-dark-bg-logo.png" alt="logo">
    </div>
    <div>
      <h1 class="title mb-4">Advisory</h1>
      <p class="mb-4">
        In order to streamline the APPROVAL process of RapidPasses,
        please be advised that all Individual applications will no longer be accepted here.
      </p>
      <p class="mb-4">
        Those who have already previously applied will still be processed
        by your approving agency based on your APOR type.
      </p>
      <p class="mb-4">
        Succeeding applications shall now be directly filed to the approving agencies.
        For more details, please visit
        <strong>
          <a href="https://dict.gov.ph/rapidpass/" target="_blank">https://dict.gov.ph/rapidpass/</a>
        </strong>
        or click the button below.
      </p>

      <h1 class="title mb-4">Reminders</h1>
      <ol>
        <li>
          Required documents may vary depending on the requirements provided by your approving agency.
        </li>
        <li>
          Applying for a RapidPass does not guarantee approval.
        </li>
        <li>
          You still need to show a Valid ID along with the RapidPass to go through checkpoints.
        </li>
        <li>
          Having the pass does not guarantee immediate passage to the checkpoint.
        </li>
        <li>
          If you are travelling with a companion, that person should also be registered.
        </li>
        <li>
          Lead time of approval depends on the approving government agencies.
        </li>
      </ol>
    </div>
  </div>

  <div class="text-center mt-auto">
    <a
      href="https://dict.gov.ph/rapidpass/"
      mat-flat-button
      color="accent"
      class="mb-3"
      target="_blank">
      More Details
    </a>
  </div>
</div>
