:host {
  .select-access-type-modal {
    padding: 40px 10px 5px 10px;
    width: 320px;
  }

  mat-toolbar {
    background-color: #5e35b1;
    color: #fff;
    span {
      font-size: 18px;
    }
  }

  div[mat-dialog-content] {
    padding: 50px 10px 5px 10px;
    max-height: 100vh !important;
  }

  .form-label {
    font-family: Worksans, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #666666;
    margin-bottom: 0;
  }

  .search-button {
    padding: 0 !important;
  }

  mat-list-item{
    height: 60px;

    &:hover {
      background-color: lightgrey;
      cursor: pointer;
    }
  }

  mat-list {
    padding-top: 0;
  }
}
