:host {
  height: 100%;

  .landing-advisory-container {
    width: 320px;
  }

  .title {
    font-size: 24px;
    line-height: 28px;
  }

  .brand {
    font-size: 32px;
    line-height: 38px;
  }

  .mat-flat-button {
    width: 260px;
  }

  footer a {
      text-decoration: underline;
  }
}
