<div class="d-flex flex-column space-bg">
  <div class="p-3 h-100 d-flex flex-column align-items-center justify-content-center">
    <img src="assets/images/home-logo.png" alt="logo">

    <p class="title mt-3 mb-4 font-weight-light text-center">
      <strong class="brand">
        RapidPass.ph
      </strong>
    </p>
    <div class="text-center">
      <h1 class="title mb-4">DICT Advisory</h1>
    </div>
    <div class="landing-advisory-container px-2">

      <p class="mb-3">
        In order to streamline the APPROVAL process of RapidPasses,
        please be advised that all Individual applications will no longer be accepted here.
      </p>
      <p class="mb-3">
        Those who have already previously applied will still be processed
        by your approving agency based on your APOR type.
      </p>
      <p class="mb-3">
        Succeeding applications shall now be directly filed to the approving agencies.
        For more details, please visit
        <strong>
          <a href="https://dict.gov.ph/rapidpass/" target="_blank">https://dict.gov.ph/rapidpass/</a>
        </strong>
        or click the button below.
      </p>
    </div>

    <button
      mat-flat-button
      color="white"
      class="mt-3"
      [routerLink]="['/check-status']">
      Check Application Status
    </button>

    <div class="text-center mt-3">
      <a
        href="https://dict.gov.ph/rapidpass/"
        mat-flat-button
        color="accent"
        class="mb-3"
        target="_blank">
        More Details
      </a>
    </div>


    <footer class="text-center p-3">
      <a [routerLink]="['about']"> <span class="pr-3">About</span> </a>
      <a href="https://dctx.ph/rapidpass-faqs/" target="_blank"> <span class="pr-3">FAQs</span> </a>
      <a [routerLink]="['contact']"> <span class="pr-3">Contact Us</span> </a>
      <a [routerLink]="['privacy-policy']"> <span>Privacy Policy</span></a>
    </footer>
  </div>
</div>
