<mat-toolbar
    color="primary"
    class="page-toolbar"
    [ngClass]="{'transparent': transparentToolbar}"
    *ngIf="showToolbar">
  <mat-toolbar-row>
    <button mat-icon-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="ml-2">{{ pageTitle }}</span>
  </mat-toolbar-row>
</mat-toolbar>