.content-container {
  max-width: 320px;
}

p {
  color: #222222;
}

.status-text {
  font-size: 20px;
}

.rapid-pass-info {
  .control-number-label {
    border: 1px solid #5e35b1;
    color: #5e35b1;
  }

  .control-number {
    font-size: 20px;
    color: #ffffff;
    background-color: #5e35b1;
  }
}

