<mat-toolbar color="primary" class="page-toolbar">
  <mat-toolbar-row>
    <button mat-icon-button [mat-dialog-close]="true">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="ml-2">Your RapidPass</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="d-flex flex-column mx-auto content-container page-content h-100">
  <div class="my-3"></div>

  <div class="d-flex flex-row align-items-center justify-content-center mb-3">
    <img src="assets/images/status-denied.svg" alt="status-logo" height="70px" class="mr-3">
    <div class="status-text font-weight-bold">
      <div class="mb-1">Application</div>
      <div style="color: #E24C4B">Declined</div>
    </div>
  </div>

  <div class="my-3"></div>

  <div class="text-center rapid-pass-info" *ngIf="data.controlCode">
    <div class="control-number-label font-weight-bold py-1">Control Number</div>
    <div class="control-number font-weight-500 px-5 py-2">{{data.controlCode}}</div>
  </div>

  <div class="my-3"></div>

  <ng-container *ngIf="data.reason else hasNoRejectionReason">
    <p>Your RapidPass application was denied because of the following:</p>
    <p>{{ data.reason }}</p>
  </ng-container>

  <ng-template #hasNoRejectionReason>
    <p>Please contact your approving agency for more details.</p>
  </ng-template>

  <div class="mt-auto">
    <button
      hidden
      mat-flat-button
      class="w-100"
      color="accent"
      [mat-dialog-close]="null"
      [routerLink]="['onboarding', 'reminders']">
      Apply again
    </button>
    <p></p>
    <button mat-flat-button class="w-100" color="accent" [mat-dialog-close]="null" [routerLink]="['']">
      Return to homepage
    </button>
  </div>
</div>
