<mat-toolbar color="primary" class="page-toolbar">
  <mat-toolbar-row>
    <button mat-icon-button [mat-dialog-close]="true">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="ml-2">Your RapidPass</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="d-flex flex-column mx-auto content-container page-content h-100">
  <div class="my-5"></div>
  <div class="d-flex flex-row align-items-center justify-content-center mb-3">
    <img src="assets/images/status-approved.svg" alt="status-logo" height="70px" class="mr-3">
    <div class="status-text font-weight-bold">
      <div class="mb-1">Application</div>
      <div style="color: #32BA7C">Approved</div>
    </div>
  </div>

  <div class="my-3"></div>
  <div class="text-center rapid-pass-info mx-3">
    <div class="control-number-label font-weight-bold py-1">Valid Until</div>
    <div class="control-number font-weight-500 px-4 py-2">{{ expirationDate }}</div>
  </div>

  <div class="my-3"></div>
  <p class="mx-3">
    Your Rapidpass has been approved! Please expect your RapidPass QR within the next 24 hours.
  </p>
  <p class="mx-3">
    You will be receiving a RapidPass and instructions on how to use it to the mobile number or email you
    have provided in your application.
  </p>
</div>

