<div class="d-flex flex-column mx-auto content-container page-content h-100 px-3">
  <form autocomplete="off" class="d-flex flex-column h-100 mt-5" [formGroup]="checkStatusForm" (ngSubmit)="submit()">
    <p class="py-3 px-1">
      To check the details about your application status. Please provide your contact number.
    </p>

    <div>
      <label
        for="plateMobileNumber"
        class="form-label"
        [ngClass]="{'has-error': plateMobileNumberErrorMsg}">
      </label>
      <mat-form-field appearance="outline" class="w-100">
        <input
          id="plateMobileNumber"
          matInput
          placeholder="Mobile Number"
          formControlName="plateMobileNumber" trim>
        <mat-error *ngIf="plateMobileNumberErrorMsg">
          {{ plateMobileNumberErrorMsg }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mt-auto mb-4">
      <button
        mat-flat-button
        class="w-100"
        color="accent"
        type="submit"
        [disabled]="!checkStatusForm.valid || processing">
        {{ processing ? 'Checking...' : 'Check Status' }}
      </button>
    </div>
  </form>
</div>
