:host {
  height: 100%;

  .content-container {
    max-width: 320px;

    .form-label {
      font-family: Worksans, sans-serif;
      font-style: normal;
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      color: #666666;
      margin-bottom: 0;

      &.has-error {
        color: #f44336;
      }
    }

    ::ng-deep .mat-form-field-infix {
      border-top: 0.4em solid transparent;
    }
  }
}

