<div class="page-content space-container space-bg d-flex flex-column h-100 pb-4">
  <div class="d-flex flex-column align-items-center justify-content-start overflow-auto h-100 px-3 mb-4">
    <div class="mb-3">
      <img src="assets/images/horizontal-dark-bg-logo.png" alt="horizontal-logo"/>
    </div>
    <div>
      <h1 class="title">RapidPass</h1>
      <p class="mt-4">
        RapidPass is a special QR code that allows qualified users to get verified and <strong><u>pass through checkpoints in NCR</u></strong> faster.
      </p>

      <h1 class="title mt-4">Who can apply?</h1>

      <p class="mt-4">Only the following <b>APOR (Approved Persons Outside Residence)</b> are allowed to apply for a RapidPass:</p>
      <ul>
        <li *ngFor="let workType of workTypes">{{workType.label}}</li>
      </ul>

      <p class="space-disclaimer mt-4">
        Misuse of this service in any form (e.g fake identity and details) can be subjected to a criminal case.
      </p>
    </div>
  </div>

  <div class="text-center mt-auto">
    <a
      mat-flat-button
      color="white"
      class="mb-3"
      href="https://www.dctx.ph/frontliners-apor-guide/"
      target="_blank">
      Guide to APOR and Agency
    </a>
    <button
      mat-flat-button
      color="accent"
      class="mb-3 mx-3"
      [routerLink]="['reminders']">
      Next
    </button>
  </div>
</div>
