<mat-toolbar color="primary" class="page-toolbar">
  <mat-toolbar-row>
    <button mat-icon-button [mat-dialog-close]="null">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="ml-2">Select Nature of Work</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="select-access-type-modal m-4 pb-4 mx-auto">
  <mat-form-field class="search-button w-100" appearance="outline">
    <span matPrefix>
      <mat-icon>search</mat-icon>
      &nbsp;
    </span>
    <input
      #searchInput matInput placeholder="Search" [(ngModel)]="searchKey"
      (input)="onFilterItem(searchInput.value)" autofocus>
  </mat-form-field>

  <mat-list>
    <div *ngFor="let item of filteredItems">
      <mat-list-item (click)="btnSelectThis(item)">
        {{item.label}}
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
</div>
