<div mat-dialog-content>
  <p>The mobile number you have provided is not yet loaded in our system or is invalid. </p>
  <p>Please verify your application with your approving agency.</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">OK</button>
</div>
