<mat-toolbar color="primary" class="page-toolbar">
  <mat-toolbar-row>
    <button mat-icon-button [mat-dialog-close]="null">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="ml-2">Terms and Conditions</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container page-content">
  <div class="mx-3">
    <section class="w-100">
      <p class="mt-4 text-center">
        <strong>RAPIDPASS DATA PRIVACY POLICY</strong>
      </p>
    </section>

    <section class="mt-4">
      <p class="text">
        The Department of Information and Communication Technology (DICT), in coordination with the Inter-Agency Task
        Force for the Management of Emerging Infectious Diseases in the Philippines (IATF-MIED), the National Privacy
        Commission (NPC), and DevConnect Philippines, Inc. (DEVCON) respect your right to privacy and want you to
        understand how we collect, use, and share your personal information. This Privacy Policy covers our data
        processing practices and describes your data privacy rights under Republic Act No. 10173, otherwise known as the
        <i>Data Privacy Act of 2012</i> ("<strong>DPA</strong>").
      </p>
      <p class="text">
        This Privacy Policy applies when you visit or use the RapidPass.ph System ("<strong>RPS</strong>"), or related
        services offered
        through RPS The RPS comprises of three apps, namely RapidPass Registration, RapidPass Approver Dashboard, and
        RapidPass Checkpoint, developed by DevConnect Philippines Inc. ("<strong>DevCon</strong>"). These apps are
        designed to speed up
        the movement and improve the access of front-liners and priority vehicles, ensuring the success of Enhanced
        Community Quarantine (ECQ) (the "<strong>Services</strong>").
      </p>
    </section>

    <section class="mt-4">
      <h3 class="font-weight-bold">What Data We Collect From You</h3>
      <p class="text">
        The personal information to be collected from you when you apply via RPS Registrations are the following:
      </p>
      <ol type="a">
        <li>full name of applicant (for individual registration), full name of company personnel (for company
          registration);</li>
        <li>Authorized Person Outside of Residence (APOR) Type;</li>
        <li>plate number/conduction number of vehicle;</li>
        <li>contact information (email address, mobile number);</li>
        <li>workplace information (name of company, ID type, and ID number);</li>
        <li>address of origin and destination;</li>
        <li>government Identification Document (ID) Type: driver’s license, GSIS/SSS, UMID, PAG-IBIG, PhilHealth,
          Passport, Postal ID, PRC, PWD, Senior Citizen, TIN, Voter’s ID</li>
        <li>Government ID number;</li>
        <li>reason for getting RapidPass</li>
      </ol>

      <h3 class="font-weight-bold">For RapidPass Checkpoint app, the following information are being collected:</h3>
      <p class="text">
        The personal information to be collected from you when you apply via RPS Registrations are the following:
      </p>
      <ol type="a">
        <li>Device’s International Mobile Equipment Identity (IMEI).</li>
        <li>Mobile Number of issued devices by DOST.</li>
      </ol>

      <p class="text">
        In addition, Google Analytics automatically gathers the HTTP request of the user, browser/system information and
        first-party cookies. See details of data collected by Google Analytics in this
        <a href="https://developers.google.com/analytics/resources/concepts/gaConceptsTrackingOverview">Google Analytics
          Guide</a>.
      </p>
    </section>

    <section class="mt-4">
      <h3 class="font-weight-bold">How We Collect Data From You</h3>
      <p class="text">
        We collect personal information in two ways:
      </p>
      <ol type="a">
        <li>For individual/vehicle registration via RapidPass Website; and</li>
        <li>For companies and organizations they have to submit bulk applications to the government agency having
          regulatory authority over their respective sectors. The government agency will in turn process and upload the
          bulk applications through the RapidPass Approver Dashboard.</li>
      </ol>

      <h3 class="font-weight-bold">Analytics</h3>
      <p class="text">
        We use Analytics tools (Google Analytics, Power BI/Kibana, Jupyter, DBeaver, LibreOffice, DbVisualizer, RStudio,
        CartoDB, Einstein Analytics, Google Colab, QGIS, ArcGIS). These tools will help us analyze your use of the
        Services, including information like, how often you visit, events within the Services, and usage, performance
        data. We use these data to improve our services, and better understand how the services perform on different
        devices.
      </p>
    </section>

    <section class="mt-4">
      <h3 class="font-weight-bold">Why We Collect Your Data</h3>
      <p class="text">
        We use your data for the following purposes:
      </p>

      <ol type="a">
        <li>To verify your identity and travel purpose when you apply for registration;</li>
        <li>To issue a valid QR code that is electronically tied to your personal information and that will facilitate
          your travel through checkpoints and quarantine areas;</li>
        <li>To ensure the accuracy and integrity of your records every time your RapidPass QR Code is scanned at a
          checkpoint;</li>
        <li>To facilitate communication with you;</li>
        <li>To provide adequate security against fraud and abuse;</li>
        <li>To Measure website traffic and improve performance of the RapidPass Platform.</li>
        <li>To improve and update the Platform and its Services; and</li>
        <li>To provide safety and security, as may be required by law or as may be necessary.</li>
        <li>To restrict the installation of Checkpoint Apps on specific devices issued by DOST, hence IMEI is collected.
        </li>
      </ol>
    </section>

    <section class="mt-4">
      <h3 class="font-weight-bold">Who We Share Your Data With</h3>
      <p class="text">
        We share the above mentioned personal information with our third-party service provider, DEVCON as the
        developer. These also include authorized personnel who are tasked to review, verify and analyze the information
        you provided in RapidPass.
      </p>
      <p class="text">
        Other third-party service providers we share your information with and the specific information they have access
        to are the following:
      </p>

      <ol type="a">
        <li>Semaphore - the SMS sending provider or RapidPass to which we share your Mobile Number.</li>
        <li>Mailgun- is the email sending provider to which we share your email, first name, approval status and link to
          the qr code.</li>
        <li>Google Analytics - is the web analytics service provider of RapidPass. It collects HTTP requests of the
          user, browser/system information and first-party cookies and are transmitted and stored on Google Servers. By
          downloading and installing an add-on by Google (located at
          <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a>),
          you can opt-out from this collection of information.</li>
        <li>Microsoft Azure - is the cloud server provider of RapidPass where all data and running apps are stored.</li>
      </ol>

      <p class="text">
        Additionally, in the course of the rendition of services, your information may be shared to relevant government
        agencies assigned by IATF to approve the Authorized Persons Outside of Residence (APOR). These agencies are
        responsible for verifying, validating and approving which APOR will be given the RapidPass.
      </p>
      <p class="text">
        Furthermore, the Philippine National Police (PNP), Armed Forces of the Philippines (AFP) and the Department of
        Interior and Local Government (DILG), stationed at the checkpoints assigned to scan the QR Codes via the
        Checkpoint app can only view your Name, QR Code, Control Number and Plate Number/Conduction Sticker.
      </p>
      <p class="text">
        Note that your personal identifiable information is only shared in cases where disclosure is mandatory under
        relevant laws or immediate medical attention is required or instances when you agree to such disclosure.
      </p>
      <p class="text">
        We will never share, sell or otherwise disclose your personal information to third parties outside of those
        enumerated above, except in instances when you have given your consent to such transfer or disclosure.
      </p>
    </section>

    <section class="mt-4">
      <h3 class="font-weight-bold">How Your Data is Protected and Retained</h3>
      <p class="text">
        We use appropriate security measures as listed below based on the type and sensitivity of data being stored. To
        protect against unauthorized access, alteration, disclosure, or destruction of your personal data that we
        collect and store, the Platform applies the following appropriate security measures:
      </p>

      <ol type="a">
        <li>Vulnerability Assessment and Penetration Testing;</li>
        <li>Security headers for all RapidPassApps;</li>
        <li>Communication security (SSL/TLS, HSTS) to encrypt all network communications; </li>
        <li>Role based Access Control configured in the backend;</li>
        <li>JSON Web Token (JWT) that authenticates the user and distinguishes their role;</li>
        <li>Strict password requirement for approver which include min length of 8 to 12 characters, combinations of
          letters and numbers and special characters;</li>
        <li>Firewall via cloudflare;</li>
        <li>Data is stored remotely and encrypted at rest in SOC 1, SOC2, and SOC3, in an ISO 27001 certified data
          center (Microsoft Azure) accessible only to the developer, DevConnect Philippines Inc;</li>
        <li>On the Checkpoint App, QR Code is not stored. The QR code is a Base64 encoded string. When decoded, the
          majority of the data (except for the first 2 bytes and the last 4 bytes) is encrypted by an “encryption key”
          known only to the server, and given to the app when the app authenticates. The app does not store the
          encryption key in local/persistent storage. The last 4 bytes of the QR code data is a cryptographic signature
          of the encrypted data signed using another “signing key”. The “signing key” is likewise given to the app on
          app authentication, and not stored on the device. After decryption, the app stores the details (pass type,
          APOR, control number, validity date+time, and id/plate number) in a database on the device.</li>
        <li>On the Checkpoint app, the app generates a random encryption key per device. The id/plate number received
          from the API above is then encrypted before saving to the database, and then decrypted before display. The
          encryption key is stored on Android using Android keystore to prevent casual retrieval.</li>
        <li>Developers are aware of the data privacy and security measures in place.</li>
      </ol>

      <p class="text">
        Note, that we shall only retain your personal information in the course of operating and maintaining the
        RapidPass platform for the duration of the Enhanced Community Quarantine. When the Community Quarantine is
        lifted, we shall delete all personal information that is stored, shared with Government Agencies and third-party
        service providers and ensure that these are destroyed so as to prevent further processing by any other entity.
      </p>
      <p class="text">
        No copies of your data shall be shared with the PNP, AFP, the Department of Interior and Local Government, the
        Department of National Defense, any other government agency or instrumentality, and third-party service
        providers. The data privacy law forbids other entities and even government agencies from using your data for any
        other purpose, without your consent.
      </p>
      <p class="text">
        As with any internet-enabled system, there is always a risk of unauthorized access, so it’s important to
        protect your device and to contact us if you suspect any unauthorized access to your device.
      </p>
    </section>

    <section class="mt-4">
      <h3 class="font-weight-bold">Your Data Privacy Rights</h3>
      <p class="text">
        In accordance with the DPA, we are committed to upholding your rights in relation to your personal information.
      </p>
      <p class="text">
        You have the right to request a copy of your personal data, to correct or modify or erase your personal
        information from our systems, databases and processes, You also have the right to withdraw your personal
        information from the Platform, including the option to delete your account.
      </p>
    </section>

    <section class="my-3">
      <h3 class="font-weight-bold">Contact Us</h3>
      <p class="text">
        If you have any questions, concerns, or disputes regarding our Privacy Policy, or should you wish to get in
        touch with us to exercise your right to access your data, withdraw your consent to the collection and processing
        of your personal information, or to implement correction, modification, or erasure of your personal information,
        you may get in touch with us through the means provided below:
      </p>

      <p>
        <strong>DICT</strong><br>
        <a href="mailto:information@dict.gov.ph" class="text-decoration-none">information@dict.gov.ph</a><br>
        8-920-0101 local 1004<br>
        C.P Garcia Ave., Diliman, Quezon City, Philippines 1101<br>
      </p>
      <p>
        <strong>NPC</strong><br>
        <a href="mailto:breach@privacy.gov.ph" class="text-decoration-none">breach@privacy.gov.ph</a><br>
        8-920-0101 local 1004<br>
        C.P Garcia Ave., Diliman, Quezon City, Philippines 1101<br>
      </p>
      <p>
        <strong>DEVCON</strong><br>
        <a href="mailto:dctx@devcon.ph" class="text-decoration-none">dctx@devcon.ph</a><br>
        Amihan Innovation Center, 26th Floor Orient Square Building Rd 1605, Emerald Ave, Pasig, Metro Manila<br>
      </p>

      <p>
        For more details about RapidPass application, e-mail at <a href="mailto:inquiries@rapidpass.ph">inquiries@rapidpass.ph</a>.
      </p>
    </section>
  </div>

  <footer class="mt-auto mx-auto mb-4 accept-button">
    <button
      mat-flat-button
      class="w-100"
      color="accent"
      (click)="accept()">
      Accept Privacy Notice
    </button>
  </footer>
</div>
